* {
    margin: 0;
    padding: 0;
    font-family: basic-sans, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 12, 29);
}

.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav button {
    background-color: #3c4b6d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 10px 10px;
    font-size: 20px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
nav button:hover {
    background: rgba(70, 75, 105, 0.5);
    transition: 0.2s;
    color: #6079b1;
}

.aboutme_txt {
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: #ffffff;
    line-height: 0.8;
}
.aboutme_innhold,
.aboutme_innhold2,
.aboutme_innhold3 {
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    margin-top: 30px;
}

.image {
    width: 850px;
    height: 500px;
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg);
    margin-top: 1em;
    border: #000;
    border-radius: 10px;
}

.footer {
    margin-top: 90px;
    margin-bottom: 100px;
    border-top: 6px solid rgb(90, 106, 148);
}
.footer img {
    margin-top: 20px;
    width: 35px;
    height: auto;
    border-radius: 7px;
}